#barGraph rect {
  fill: #4aaeea;
}

#barGraph text {
  fill: white;
  font-size: 14px;
}

.axis text {
  font-size: 14px;
}

.axis path,
.axis line {
  fill: #fff;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.graphContainer {
  background-color: #2a2a2a;
}

body {
  height: 100%;
  width: 100%;
  background: #1a1a1a;
  color: #eaeaea;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
}
