#barGraph .bar {
  fill: #71b0d9;
  transition: fill .4s ease;
  z-index: 10;
}

#barGraph .bar:hover {
  fill: #3097d9;
}

/* Bar Graph's tick styles */
#barGraph .tick text {
  fill: #dbdbdb;
  font-size: 14px;
}

.axis text {
  font-size: 1px;
}

.axis path,
.axis line {
  stroke: #dbdbdb;
  shape-rendering: crispEdges;
}

.graphContainer {
  background-color: #2e2e2e;
}

.graphTitle {
  fill: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

#barGraph .graphLabel {
  fill: #919191;
  font-size: 16px;
  font-style: italic;
}

.tooltip text {
  fill: #dbdbdb;
  font-size: 16px;
}

.tooltip rect {
  fill: none;
}

.labelVal {
    font-style: normal;
    font-size: 0.8em;
    font-weight: 600;
}

.labelKey {
    font-size: 0.8em;
}

#contentPane, svg {
  display: inline-block;
  vertical-align: top;
}

#contentPane {
  width: 600px;
  height: 100%;
  word-wrap: break-word;
  vertical-align: top;
  padding-left: 2em;
  padding-top: 2em;
}

#contentPane h1 {
  font-size: 4.5em;
  margin-top: 0;
}

#chartBody {
  position: absolute;
  top: 22em;
}

.btn {
  display: inline-block;
	line-height: 35px;
	margin: 8px;
	padding: 0 15px;
	font-size: 15px;
	position: relative;
	opacity: 0.999;
	border-radius: 3px;
}

#legend #legendHeader {
  font-weight: 500;
  display: block;
  border-bottom: 1px dashed #dbdbdb;
  padding: 0.5em;
  font-size: 17px;
}

#legend tspan {
  width: 250px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: block;
  text-indent: 0.5em;
  font-size: 0.8em;
}

#legend {
  max-width: 250px;
  word-wrap: break-word;
  background-color: #f6f6f6;
  border-radius: 2px;
  position: absolute;
  margin-top: 4em;
  margin-left: -4em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


body {
  height: 100%;
  width: 100%;
  background: #dbdbdb;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
}
